{
  "extends": [
    "airbnb-base",
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "bracketSpacing": true,
        "htmlWhitespaceSensitivity": "css",
        "insertPragma": false,
        "bracketSameLine": false,
        "jsxSingleQuote": false,
        "printWidth": 80,
        "proseWrap": "preserve",
        "quoteProps": "as-needed",
        "requirePragma": false,
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all",
        "useTabs": false,
        "endOfLine": "auto"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "plugins": [
        "@typescript-eslint",
        "unused-imports",
        "tailwindcss"
      ],
      "extends": [
        "plugin:tailwindcss/recommended",
        "airbnb-typescript",
        "next/core-web-vitals",
        "plugin:prettier/recommended"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "react/destructuring-assignment": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "react/require-default-props": "off",
        "react/jsx-props-no-spreading": "off",
        "import/order": [
          "error",
          {
            "groups": [
              "builtin",
              "external",
              "internal"
            ],
            "pathGroups": [
              {
                "pattern": "react",
                "group": "external",
                "position": "before"
              },
              {
                "pattern": "next",
                "group": "external",
                "position": "before"
              }
            ],
            "pathGroupsExcludedImportTypes": [
              "react",
              "next"
            ],
            "newlines-between": "always",
            "alphabetize": {
              "order": "asc",
              "caseInsensitive": true
            }
          }
        ],
        "@typescript-eslint/comma-dangle": "off",
        "import/prefer-default-export": "off",
        "class-methods-use-this": "off",
        "tailwindcss/classnames-order": "error",
        "tailwindcss/no-custom-classname": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-throw-literal": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_"
          }
        ]
      }
    }
  ]
}
