{
  "ignorePatterns": ["next-env.d.ts"],
  "extends": [
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "bracketSpacing": true,
        "htmlWhitespaceSensitivity": "css",
        "insertPragma": false,
        "bracketSameLine": false,
        "jsxSingleQuote": false,
        "printWidth": 80,
        "proseWrap": "preserve",
        "quoteProps": "as-needed",
        "requirePragma": false,
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all",
        "useTabs": false,
        "endOfLine": "auto",
        "plugins": ["prettier-plugin-tailwindcss"],
        "tailwindConfig": "./tailwind.config.js"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.js",
        "**/*.jsx"
      ],
      "extends": [
        "airbnb-base",
        "plugin:prettier/recommended"
      ],
      "settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
          }
        }
      }
    },
    {
      "files": [
        "tailwind.config.js",
        "postcss.config.js",
        "next.config.js"
      ],
      "rules": {
        "import/no-unresolved": "off",
        "import/no-extraneous-dependencies": "off"
      }
    },
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint",
        "unused-imports"
      ],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "react/destructuring-assignment": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "react/require-default-props": "off",
        "react/jsx-props-no-spreading": "off",
        "import/order": [
          "error",
          {
            "groups": [
              "builtin",
              "external",
              "internal"
            ],
            "pathGroups": [
              {
                "pattern": "react",
                "group": "external",
                "position": "before"
              },
              {
                "pattern": "next",
                "group": "external",
                "position": "before"
              }
            ],
            "pathGroupsExcludedImportTypes": [
              "react",
              "next"
            ],
            "newlines-between": "always",
            "alphabetize": {
              "order": "asc",
              "caseInsensitive": true
            }
          }
        ],
        "@typescript-eslint/comma-dangle": "off",
        "import/prefer-default-export": "off",
        "class-methods-use-this": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-throw-literal": "off",
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/triple-slash-reference": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_"
          }
        ]
      }
    }
  ]
}
